<script src="../../staticfiles/js/shared/data-table.js"></script>{% extends 'index.html' %}

{% load static %}
{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Addmission</h4>
          <ul class="nav nav-tabs tab-solid tab-solid-danger" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="tab-new" data-toggle="tab" href="#new-patient" role="tab" aria-controls="new-patient" aria-selected="false">Bed Booking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-emergency" data-toggle="tab" href="#new-emergency" role="tab" aria-controls="new-emergency" aria-selected="false">Emergency Patient</a>
            </li>
          </ul>
          <div class="tab-content tab-content-solid">
            <div class="tab-pane fade active show" id="new-patient" role="tabpanel" aria-labelledby="tab-new">
              <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add New Booking Entry</h4>
          <form method="POST" class="form-sample">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Patient Name</label>
                 <div class="col-sm-9">
                   {{form.patientid}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Diagnosis ID</label>
                 <div class="col-sm-9">
                   {{form.diagnosisid}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Admission Date</label>
                  <div class="col-sm-9">
                    {{form.admissiondate}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Room Type</label>
                 <div class="col-sm-9">
                   {{form.roomtype}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Bed No.</label>
                  <div class="col-sm-9">
                   {{form.bedid}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Doctor</label>
                  <div class="col-sm-9">
                    {{form.doctorid}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Department</label>
                  <div class="col-sm-9">
                    {{form.department}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
            <button type="submit" class="btn btn-success mr-2" style="float: right;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
            </div>
            <div class="tab-pane fade" id="new-emergency" role="tabpanel" aria-labelledby="tab-emergency">
              <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add New Emergency Patient Entry</h4>
          <form class="form-sample">
            <p4 class="card-description"> Personal info </p4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Patient Name</label>
                 <div class="col-sm-9">
                    <select class="form-control">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Doctor Name</label>
                 <div class="col-sm-9">
                    <select class="form-control">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Division</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Patient Status</label>
                 <div class="col-sm-9">
                    <select class="form-control">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <p4 class="card-description"> Operation </p4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Operation</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>Category1</option>
                      <option>Category2</option>
                      <option>Category3</option>
                      <option>Category4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Operation Time</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>Category1</option>
                      <option>Category2</option>
                      <option>Category3</option>
                      <option>Category4</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Operation Date</label>
                  <div class="col-sm-9">
                    <input class="form-control" placeholder="dd/mm/yyyy" />
                  </div>
                </div>
              </div>
            </div>
            <p4 class="card-description"> Bed </p4>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Bed Category</label>
                  <div class="col-sm-9">
                    <select class="form-control">
                      <option>Category1</option>
                      <option>Category2</option>
                      <option>Category3</option>
                      <option>Category4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Expected Days of Stay</label>
                  <div class="col-sm-9">
                    <input class="form-control" placeholder="dd/mm/yyyy" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Bed Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
              </div>
            <div class="row">
                <div class="col-md-12">
            <button type="submit" class="btn btn-success mr-2" style="float: right;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Booking List</h4>
              <div class="table-responsive">
                <table id="fixed-column" class="table">
                  <thead>
                    <tr>
                      <th>BookingID</th>
                      <th>Patient</th>
                      <th>Diagnosis</th>
                      <th>Admission Date</th>
                      <th>Room Type</th>
                      <th>Bed No.</th>
                      <th>Doctor</th>
                      <th>Department</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for obj in bedbook%}
                    <tr>
                      <td>{{obj.bookingid}}</td>
                      <td>{{obj.patientid.patientlastname}}, {{obj.patientid.patientfirstname}}</td>
                      <td>{{obj.diagnosisid.icd10cmcode}}</td>
                      <td>{{obj.admissiondate}}</td>
                      <td>{{obj.roomtype}}</td>
                      <td>{{obj.bedid.bedno}}</td>
                      <td>{{obj.doctorid.doctorlastname}}, {{obj.doctorid.doctorfirstname}}</td>
                      <td>{{obj.department}}</td>
                      <td>
                        <button class="btn btn-outline-primary">Details</button>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js' %}"></script>
<script src="{% static 'js/shared/data-table.js' %}"></script>
{% endblock %}
