{% extends 'index.html' %}
{% load customtag %}
{% load static %}
{% block content %}


<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Discharge</h4>
          <ul class="nav nav-tabs tab-solid tab-solid-primary" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="tab-new" data-toggle="tab" href="#new-patient" role="tab" aria-controls="new-patient" aria-selected="false">Search Filter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-emergency" data-toggle="tab" href="#new-emergency" role="tab" aria-controls="new-emergency" aria-selected="false">Patient Status</a>
            </li>
          </ul>
          <div class="tab-content tab-content-solid">
            <div class="tab-pane fade active show" id="new-patient" role="tabpanel" aria-labelledby="tab-new">
              <div class="card">
                    <div class="card-body">
            <h4 class="card-title">Search Filter</h4>
            <form method="GET" class="form-sample">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Patient Name</label>
                   <div class="col-sm-9">
                     {{filterbm.form.patientid}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Diagnosis ID</label>
                   <div class="col-sm-9">
                     {{filterbm.form.diagnosisid}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Admission Date</label>
                    <div class="col-sm-9">
                      {{filterbm.form.admissiondate}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Bed Status</label>
                   <div class="col-sm-9">
                     {{filterbm.form.bedstatus}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Bed No.</label>
                    <div class="col-sm-9">
                     {{filterbm.form.bedid}}
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Doctor</label>
                    <div class="col-sm-9">
                      {{filterbm.form.doctorid}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Department</label>
                    <div class="col-sm-9">
                      {{filterbm.form.department}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
              <button type="submit" class="btn btn-success mr-2" style="float: right;">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
            </div>
            <div class="tab-pane fade" id="new-emergency" role="tabpanel" aria-labelledby="tab-emergency">
              <div class="card">
        <div class="card-body">
          <h4 class="card-title">Patient ID</h4>
           <div class="stepwizardcustom">
        <div class="stepwizardcustom-row setup-panel">
            <div class="stepwizardcustom-step col-xs-3">
                <a href="#step-1" type="button" class="btn btn-success stepwizardcustombtn-circle">1</a>
                <p><small>Occupied</small></p>
            </div>
            <div class="stepwizardcustom-step col-xs-3">
                <a href="#step-2" type="button" class="btn btn-default stepwizardcustombtn-circle" disabled="disabled">2</a>
                <p><small>Start Discharge</small></p>
            </div>
            <div class="stepwizardcustom-step col-xs-3">
                <a href="#step-3" type="button" class="btn btn-default stepwizardcustombtn-circle" disabled="disabled">3</a>
                <p><small>Doctor Approved</small></p>
            </div>
            <div class="stepwizardcustom-step col-xs-3">
                <a href="#step-4" type="button" class="btn btn-default stepwizardcustombtn-circle" disabled="disabled">4</a>
                <p><small>Financial Cleared</small></p>
            </div>
            <div class="stepwizardcustom-step col-xs-3">
                <a href="#step-5" type="button" class="btn btn-default stepwizardcustombtn-circle" disabled="disabled">5</a>
                <p><small>Discharge</small></p>
            </div>
        </div>
    </div>
            <form role="form">
        <div class="panel panel-primary setup-content" id="step-1">
            <div class="panel-heading">
                 <h3 class="panel-title">Occupied</h3>
            </div>
            <div class="panel-body">
                <h1></h1>
                <h4 class="my-lg-3">Initiate discharge process!</h4>
                <button class="btn btn-warning nextBtn pull-right" type="button">Start Discharge</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-heading">
                 <h3 class="panel-title">Start Discharge</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Itemized Bill</label>
                    <textarea maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Itemized Bill"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Total Payment Amount</label>
                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Total Payment Amount" />
                </div>
                <span class="input-group-append">
                    <button class="my-lg-3 file-upload-browse btn btn-info" type="button">Upload</button>
                </span>
                <button class="btn btn-primary nextBtn pull-right" type="button">Doctor Approved</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-heading">
                 <h3 class="panel-title">Doctor Approved</h3>
            </div>
            <div class="panel-body">
                <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Insurance covered? <i class="input-helper"></i></label>
                            </div>
                <div class="form-group">
                    <label class="control-label">Insurer Name</label>
                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Insurer Company Name" />
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Financial Cleared</button>
            </div>
        </div>
        <div class="panel panel-primary setup-content" id="step-4">
            <div class="panel-heading">
                 <h3 class="panel-title">Financial Cleared</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive my-lg-4">
                  <table id="dishargetable" class="table table-bordered">
                      <tbody><tr>
                            <td>
                              <strong>Name :</strong> {{request.user.groups.all.0}}</td>
                            <td>
                              <strong>Gender :</strong> {{bio.gender}}</td>
                          </tr>
                          <tr>
                            <td>
                              <strong>Department :</strong> {{bio.department}}</td>
                            <td>
                              <strong>Contact :</strong> {{bio.contact}}</td>
                          </tr>
                        </tbody>
                  </table>
                </div>
                <button class="btn btn-success pull-right" type="submit">Discharge</button>
            </div>
        </div>
                <div class="panel panel-primary setup-content" id="step-5">
            <div class="panel-heading">
                 <h3 class="panel-title">Discharge</h3>
            </div>
            <div class="panel-body">
                <h4 class="my-lg-3">Patient Discharged!</h4>
                <p> Click finish to initiate bed cleaning process! (This will notify cleaner team)</p>
                <button class="btn btn-success pull-right" type="submit">Finish!</button>
            </div>
        </div>
    </form>
        </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="row">
      <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Management List</h4>
                {% if request.GET.urlencode %}
                <h3 id="searchtrigger">Search results for: {{ request.GET.urlencode }}</h3>
              {% endif %}
                <div class="table-responsive">
                  <table id="tablebooking" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Patient</th>
                        <th>Diagnosis</th>
                        <th>Admission Date</th>
                        <th>Bed Status</th>
                        <th>Bed No.</th>
                        <th>Doctor</th>
                        <th>Department</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for obj in bedmanage%}
                      <tr>
                        <td>{{obj.managementid}}</td>
                        <td><a class="patientid" data-target="#exampleModal" data-whatever="{{obj.patientid.patientid}}">{{obj.patientid.patientlastname}}, {{obj.patientid.patientfirstname}}</a></td>
                        <td>{{obj.diagnosisid.icd10cmcode}}</td>
                        <td>{{obj.admissiondate}}</td>
                        {% if "Doctor approved" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-info">{{obj.bedstatus}}</label></td>
                        {% elif "Start discharge" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-warning">{{obj.bedstatus}}</label></td>
                        {% elif "Occupied" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-danger">{{obj.bedstatus}}</label></td>
                        {% elif "Financial cleared" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-primary">{{obj.bedstatus}}</label></td>
                        {% elif "Cleaned" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-success">{{obj.bedstatus}}</label></td>
                        {% elif "Discharged" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-dark">{{obj.bedstatus}}</label></td>
                        {% endif %}
                        <td>{{obj.bedid.bedno}}</td>
                        <td>{{obj.doctorid.doctorlastname}}, {{obj.doctorid.doctorfirstname}}</td>
                        <td>{{obj.department}}</td>
                        <td>
                            <a class="btn btn-outline-primary" id="tab-button" data-toggle="tab" href="#new-emergency" role="tab" aria-controls="new-emergency" aria-selected="true">Patient Status</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  {% if bedmanage.has_other_pages %}
                  <ul class="pagination">
                    {% if bedmanage.has_previous %}
                    <li><a href="{% search_url 1 'page' request.GET.urlencode %}">&nbsp;&nbsp;First&nbsp;&nbsp;</a></li>
                    <li><a href="{% search_url bedmanage.previous_page_number 'page' request.GET.urlencode %}">&nbsp;&nbsp;Previous&nbsp;&nbsp;</a></li>

                    {% endif %}
                    <span class="current">
                      Page of {{bedmanage.number}} of {{bedmanage.paginator.num_pages}}
                    </span>
                    {% if bedmanage.has_next %}
                    <li><a href="{% search_url bedmanage.next_page_number 'page' request.GET.urlencode %}">&nbsp;&nbsp;Next&nbsp;&nbsp;</a></li>
                    <li><a href="{% search_url bedmanage.paginator.num_pages 'page' request.GET.urlencode %}">&nbsp;&nbsp;Last&nbsp;&nbsp;</a></li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Patient Details</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h3 id="patient-name">LastName, FirstName</h3>
            <h4 id="gender">M/F</h4>
            <h3 id="dob">99/99/9999</h3>
            <h3 id="blood">AB/0/A/B</h3>
            <h3 id="contact">099999999</h3>
            <h3 id="emergency">09999999</h3>
          </div>
        </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {

    var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
            $item = $(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-success').addClass('btn-default');
            $item.addClass('btn-success');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function () {
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

        $(".form-group").removeClass("has-error");
        for (var i = 0; i < curInputs.length; i++) {
            if (!curInputs[i].validity.valid) {
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-success').trigger('click');
});
</script>
 <script type='text/javascript' >
    var otherval = $(document).ready(function() {
      var dataset = null;
          $(".patientid").on("click", function () {
            var pid = $(this).data('whatever');
            console.log(pid);
            var endpoint = "/api/search/patient?id="+ String(pid).replace(',','')
            $.ajax({
              method: "GET",
              url: endpoint,
              success: function (data) {
                console.log(data)
                dataset = data;
                openModal(dataset.patient[0]);
                dataset.patient.forEach(function(obj) { console.log(obj); });
              },
              error: function (error_data) {
                console.log("error")
                console.log(error_data)
              }
            });
          });
    });
    function openModal(patient){
    $('#patient-name').text(patient.patientlastname+", "+patient.patientfirstname);
    $('#gender').text(patient.gender);
    $('#dob').text(patient.dob);
    $('#blood').text(patient.bloodgroup);
    $('#contact').text(patient.contact);
    $('#emergency').text(patient.emergencycontact);
    $('#exampleModal').modal('show');
    };
  </script>
{% endblock %}
