{% extends 'index.html' %}
{% load customtag %}
{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="row profile-page">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="profile-body">
              <div class="row">
                <div class="col-md-9">
                      <div class="table-responsive">
                        <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                        <img class="img-bg-2 rounded-circle" src="/staticfiles/images/faces/face9.jpg" alt="profile image">
                        </div>
                        <table class="table table-borderless w-100 mt-4">
                          <tbody>
                          <tr>
                            <td> <h3>{{bio.patientlastname}}, {{bio.patientfirstname}}</h3> </td>
                            <td> </td>
                          </tr>
                          </tbody>
                          <tbody><tr>
                            <td>
                              <strong>Blood Group :</strong> {{bio.bloodgroup}}</td>
                            <td>
                              <strong>Gender :</strong> {{bio.gender}}</td>
                          </tr>
                          <tr>
                            <td>
                              <strong>Contact :</strong> {{bio.contact}}</td>
                            <td>
                              <strong>Emergency Contact :</strong> {{bio.emergencycontact}}</td>
                          </tr>
                        </tbody></table>
                      </div>
                  <div class="table-responsive">
                    <table class="table table-borderless w-100">
                          <tbody>
                          <tr><td>
                            <h3>History</h3></td></tr></tbody>
                    </table>
                  <table id="tablebooking" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Diagnosis</th>
                        <th>Admission Date</th>
                        <th>Bed Status</th>
                        <th>Bed No.</th>
                        <th>Doctor</th>
                        <th>Department</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for obj in pbm%}
                      <tr>
                        <td>{{obj.managementid}}</td>
                        <td>{{obj.diagnosisid.icd10cmcode}}</td>
                        <td>{{obj.admissiondate}}</td>
                        {% if "Doctor approved" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-info">{{obj.bedstatus}}</label></td>
                        {% elif "Start discharge" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-warning">{{obj.bedstatus}}</label></td>
                        {% elif "Occupied" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-danger">{{obj.bedstatus}}</label></td>
                        {% elif "Financial cleared" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-primary">{{obj.bedstatus}}</label></td>
                        {% elif "Cleaned" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-success">{{obj.bedstatus}}</label></td>
                        {% elif "Discharged" == obj.bedstatus %}
                          <td><label class="badge badge-inverse-dark">{{obj.bedstatus}}</label></td>
                        {% endif %}
                        <td>{{obj.bedid.bedno}}</td>
                        <td>{{obj.doctorid.doctorlastname}}, {{obj.doctorid.doctorfirstname}}</td>
                        <td>{{obj.department}}</td>
                        <td>
                          <a class="btn btn-outline-primary patientid" href="{% url 'discharge' %}">Discharge</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
                <div class="col-md-3">
                  <h5 class="my-4">Payment History</h5>
                  <ul class="timeline">
                    {% for obj in pbp%}
                      <li class="timeline-item">
                        <p class="timeline-content"><a href="#">{{obj.paymentamount}} - </a> ({{obj.insurer}})</p>
                        <p class="event-time">{{obj.dischargedate}}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

{% endblock %}