{% extends 'index.html' %}

{% load static %}
{% block content %}
  <div class="content-wrapper">
    <div class="row profile-page">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="profile-body">
              <div class="row">
                <div class="col-md-9">
                      <h3>{{bio.lastname}}, {{bio.firstname}}</h3>
                      <div class="table-responsive">
                        <table class="table table-borderless w-100 mt-4">
                          <tbody><tr>
                            <td>
                              <strong>Role :</strong> {{request.user.groups.all.0}}</td>
                            <td>
                              <strong>Gender :</strong> {{bio.gender}}</td>
                          </tr>
                          <tr>
                            <td>
                              <strong>Department :</strong> {{bio.department}}</td>
                            <td>
                              <strong>Contact :</strong> {{bio.contact}}</td>
                          </tr>
                        </tbody></table>
                      </div>
                      <div class="row">
                        <div class="col-8 mt-5">
                          <h5 class="mb-5">Stages</h5>
                          <div class="stage-wrapper pl-4">
                            <div class="stages border-left pl-5 pb-4">
                              <div class="btn btn-icons btn-rounded stage-badge btn-inverse-success">
                                <i class="mdi mdi-texture"></i>
                              </div>
                              <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                                <h5 class="mb-0 mr-2">Task Added</h5>
                                <small class="text-muted">28 mins ago</small>
                              </div>
                              <p>Admin is a full featured, multipurpose, premium bootstrap admin template built with Bootstrap 4 Framework</p>
                            </div>
                            <div class="stages border-left pl-5 pb-4">
                              <div class="btn btn-icons btn-rounded stage-badge btn-inverse-danger">
                                <i class="mdi mdi-download"></i>
                              </div>
                              <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                                <h5 class="mb-0 mr-2">Download Completed</h5>
                                <small class="text-muted">45 mins ago</small>
                              </div>
                              <p>one of the best admin panel templates. With this bootstrap admin template, you can quick start your project.</p>
                              <div class="file-icon-wrapper">
                                <div class="btn btn-outline-danger file-icon mr-3">
                                  <i class="mdi mdi-file-pdf"></i>
                                </div>
                                <div class="btn btn-outline-primary file-icon">
                                  <i class="mdi mdi-file-word"></i>
                                </div>
                              </div>
                            </div>
                            <div class="stages pl-5 pb-4">
                              <div class="btn btn-icons btn-rounded stage-badge btn-inverse-primary">
                                <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                              </div>
                              <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                                <h5 class="mb-0 mr-2">New Task Completed</h5>
                                <small class="text-muted">55 mins ago</small>
                              </div>
                              <p>Admin dashboard works seamlessly on all major web browsers and devices.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-4 mt-5">
                          <h5 class="mb-5">Stages</h5>
                          <div class="stage-wrapper pl-4">
                            <div class="stages border-left pl-5 pb-4">
                              <div class="btn btn-icons btn-rounded stage-badge btn-inverse-success">
                                <i class="mdi mdi-texture"></i>
                              </div>
                              <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                                <h5 class="mb-0 mr-2">Task Added</h5>
                                <small class="text-muted">28 mins ago</small>
                              </div>
                              <p>Admin is a full featured, multipurpose, premium bootstrap admin template built with Bootstrap 4 Framework</p>
                            </div>
                            <div class="stages border-left pl-5 pb-4">
                              <div class="btn btn-icons btn-rounded stage-badge btn-inverse-danger">
                                <i class="mdi mdi-download"></i>
                              </div>
                              <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                                <h5 class="mb-0 mr-2">Download Completed</h5>
                                <small class="text-muted">45 mins ago</small>
                              </div>
                              <p>one of the best admin panel templates. With this bootstrap admin template, you can quick start your project.</p>
                              <div class="file-icon-wrapper">
                                <div class="btn btn-outline-danger file-icon mr-3">
                                  <i class="mdi mdi-file-pdf"></i>
                                </div>
                                <div class="btn btn-outline-primary file-icon">
                                  <i class="mdi mdi-file-word"></i>
                                </div>
                              </div>
                            </div>
                            <div class="stages pl-5 pb-4">
                              <div class="btn btn-icons btn-rounded stage-badge btn-inverse-primary">
                                <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                              </div>
                              <div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
                                <h5 class="mb-0 mr-2">New Task Completed</h5>
                                <small class="text-muted">55 mins ago</small>
                              </div>
                              <p>Admin dashboard works seamlessly on all major web browsers and devices.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                  <h5 class="my-4">Today Patient List</h5>
                  <ul class="timeline">
                    {% for obj in admission_list%}
                      <li class="timeline-item">
                        <p class="timeline-content"><a href="#">{{obj.patientid.patientlastname}}, {{obj.patientid.patientfirstname}}</a> will admitted in ward {{obj.bedid.bedno}}</p>
                        <p class="event-time">{{obj.admissiondate}}</p>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}