{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="{% url 'profile' %}" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="{% static 'images/faces/face8.jpg' %}" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">
            {% if request.user.last_name and request.user.first_name %}
              {{ request.user.last_name }}, {{ request.user.first_name }}
            {% else %}
              {{ request.user }}
            {% endif %}
          </p>
          <p class="designation">{{ request.user.groups.all.0 }}</p>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dash' %}">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'appointment' %}">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Bed Booking</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admission' %}">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Admission</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'discharge' %}">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Discharge</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dash' %}">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Support</span>
      </a>
    </li>
  </ul>
</nav>